<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary navbar-contatos">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/contatos" >Contatos</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/contatos/save">Novo</a>
      </li>
    </ul>
    <contato-busca></contato-busca>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-12 app-component">
      <h2>
        SPA {{ title }}!
      </h2>
      <hr>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

